<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-group">
        <label>First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          formControlName="first_name"
        >
        <p *ngIf="form.get('user.first_name').invalid && form.get('user.first_name').touched">
          <span>First name incorrect</span>
        </p>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          formControlName="last_name"
        >
        <p *ngIf="form.get('user.last_name').invalid && form.get('user.last_name').touched"
        >
          <span *ngIf="form.get('user.last_name').errors['required']">Last name incorrect</span>
          <span *ngIf="form.get('user.last_name').errors['lengthError']">Last must be more {{chartsCount}}th letters</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      >
      <p *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email').invalid && form.get('email').touched">Email incorrect</span>
        <span *ngIf="form.get('email').errors['checkForEmail']">Email is Used</span>

      </p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': form.get('password').valid && form.get('password').touched}">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      >
      <p *ngIf="form.get('password').valid && form.get('password').touched">Password incorrect</p>
    </div>
    <div class="form-group">
      <div class="radio" *ngFor="let count of country">
        <label [for]="count.shortName">{{count.name}}</label>
        <input
          type="radio"
          [id]="count.shortName"
          [value]="count.shortName"
          formControlName="countryes"
        />
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >Send form
      </button>
    </div>
  </form>
  <hr>
  <button class="btn btn-success" (click)="changeRules('login')">Log In</button>
  <button class="btn btn-danger" (click)="changeRules('logout')">Log Out</button>
</div>

