<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="onSendForm(form)" #form="ngForm">
    <div ngModelGroup="FIO">
      <div class="form-group" [ngClass]="{'has-error': first_name.invalid && first_name.touched}">
        <label>First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          ngModel
          name="first_name"
          #first_name="ngModel"
          required
        >
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          ngModel
          name="last_name"
          required
        >
      </div>
    </div>
    <div class="form-group " [ngClass]="{'has-danger': email.invalid && email.touched}">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        ngModel
        name="email"
        required
        #email="ngModel"
        email
      >
      <p *ngIf="email.invalid && email.touched">Введите корректный email</p>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        ngModel
        name="password"
      >
    </div>
    <!--<div class="form-group">-->
      <!--<select class="form-control">-->
        <!--<option-->
          <!--*ngFor="let count of country"-->
          <!--[ngModel]="defaultCountry"-->
          <!--[name]="count.shortName"-->
        <!--&gt;{{count.name}}-->
        <!--</option>-->
      <!--</select>-->
    <!--</div>-->
    <div class="form-group">
      <div class="radio" *ngFor="let gen of sex">
        <label [for]="gen.gender">{{gen.gender}}</label>
        <input
          type="radio"
          [id]="gen.gender"
          [value]="gen.gender"
          [ngModel]="'male'"
          name="defaultCountry"
        />
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid"
      >Send form
      </button>
    </div>
  </form>
</div>

